{% extends 'base.html.twig' %}

{% block title %}AdsUp - Get your ads Up!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ammaps/ammap.css') }}">
{% endblock %}

{% block headjs %}
    {{ parent() }}
    <script src="{{ asset('bundles/ammaps/ammap.js') }}"></script>
    <!-- map file should be included after the ammap.js -->
    <script src="{{ asset('bundles/ammaps/maps/js/worldLow.js') }}"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>
    <script>
        var targetSVG = "M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z";

        var icon = "M21.25,8.375V28h6.5V8.375H21.25zM12.25,28h6.5V4.125h-6.5V28zM3.25,28h6.5V12.625h-6.5V28z";
        AmCharts.theme = AmCharts.themes.light;
        var map = AmCharts.makeChart("chartdiv", {
            type: "map",
            theme: "none",
            pathToImages: "http://www.amcharts.com/lib/3/images/",
            imagesSettings: {
                rollOverColor: "#005598",
                rollOverScale: 2,
                selectedScale: 1,
                selectedColor: "#005598",
                color: "#222222"
            },

            zoomControl:{buttonFillColor:"#15A892"},

            areasSettings:{unlistedAreasColor:"#15A892"},

            dataProvider: {
                map: "worldLow",
                zoomLevel: 3.5,
                zoomLongitude: 10,
                zoomLatitude: 52,
                areas: [
                    { title: "Australia", id: "AU" },
                    { title: "Netherlands", id: "NL" },
                    { title: "France", id: "FR" }
                ],
                areasSettings: {
                    rollOverOutlineColor: "#FFFFFF",
                    rollOverColor: "#CC0000",
                    outlineColor: "#ccc",
                    alpha:0.8,
                    unlistedAreasAlpha:0.1
                },

                images: [
                {% for led in leds %}
                    {
                        groupId: "{{ led.city }}",
                        svgPath: icon,
                        zoomLevel: 50,
                        scale: 0.5,
                        title: "{{ led.city }}",
                        latitude: {{ led.latitude }},
                        longitude: {{ led.longitude }},
                        label: "{{ led.city }}",
                        labelShiftY: 0,
                        description: "<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Liberty-statue-from-below.jpg/220px-Liberty-statue-from-below.jpg' style='width: 100%; margin-right: 10px;' /><p style='color: #1b6d85; font-size: 1.0em; letter-spacing: 0px; font-family: inherit;'></br><i class='fa fa-exclamation-circle'></i><strong> availability: </strong>slots are available right now<br></br><i class='fa fa-euro'></i><strong> price: </strong>advertise from €{{ led.startingCost }} a day.</br></br><i class='fa fa-star'></i><strong> desc: </strong>{{ led.description }}</p><b><a href='{{ path('led_list', {'ledId': led.id}) }}'><button class='btn btn-primary'>more info</button></a?"
                    },
                {% endfor %}
                    {
                        svgPath: targetSVG,
                        zoomLevel: 50,
                        scale: 0.9,
                        title: "Netherlands",
                        label: "Netherlands",
                        latitude: 52.1326,
                        longitude: 5.2913
                    },
                    {
                        svgPath: targetSVG,
                        zoomLevel: 50,
                        scale: 0.9,
                        title: "Australia",
                        label: "Australia",
                        latitude: -25.2744,
                        longitude: 140.7751
                    },
                    {
                        svgPath: targetSVG,
                        zoomLevel: 50,
                        scale: 0.9,
                        title: "France",
                        label: "France",
                        latitude: 46.2276,
                        longitude: 2.2137
                    }
                ],
                /*lines: [{
                    latitudes: [52.1326, 52.3061],
                    longitudes: [5.2913, 4.6907],
                    color: "#00cc00"
                }],
                linesSettings: {
                    color: "#222222",
                    alpha: 0.9
                },*/
                backgroundZoomsToTop: true,
                linesAboveImages: false
            }
        });

        // create a zoom listener which will check current zoom level and will toggle
        // corresponding image groups accordingly
        map.addListener("rendered", function () {
            revealMapImages();
            map.addListener("zoomCompleted", revealMapImages);
        });

        function revealMapImages (event) {
            var zoomLevel = map.zoomLevel();
            if (zoomLevel < 5) {
                {%  for led in leds %}
                map.hideGroup("{{ led.city }}");
                {% endfor %}
            }
            else if (zoomLevel < 3.5) {
                {%  for led in leds %}
                map.showGroup("{{ led.city }}");
                {% endfor %}
            }
            else {
                {%  for led in leds %}
                map.showGroup("{{ led.city }}");
                {% endfor %}
            }
        }

        $(function() {
            $('#chartdiv').height($(window).height());
        });
    </script>
{% endblock %}

{% block body %}
    <!-- ==========================
    	JUMBOTRON - START
    =========================== -->
    <section class="content jumbotron jumbotron-full-height">
        <div class="item slide-1">
            <div id="chartdiv" style="width: 100%; height: 800px;"></div>
        </div>
    </section>
    <!-- ==========================
    	JUMBOTRON - END
    =========================== -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
