{% extends 'base2.html.twig' %}

{% block title %}Upload Your Image{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/slim.css') }}" rel="stylesheet">
    {{ parent() }}
{% endblock %}

{% block headjs %}
    {{ parent() }}
    <script>
        $(function() {
            $(selector).slim({
                "ratio": "4:3",
                "minSize": {
                    "width": 640,
                    "height": 480,
                },
                "service": "upload-async.php",
                "post": ["input", "output", "actions"],
                "download": false,
                "onSave": function(data, ready) { alert('saving!'); },
                "label": "Drop your image here.",
                "buttonConfirmLabel":"Ok"
            });
        });

        $('#my-snippet').slimParse();
    </script>
{% endblock %}

{% block body %}
    <!-- ==========================
    	BREADCRUMB - START
    =========================== -->
    <section class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h2>{{ slot.led.address }}</h2>
                    <p>{{ slot.led.city }}</p>
                </div>
                <div class="col-xs-6">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('store_home_show') }}">Home</a></li>
                        <li><a href="{{ path('cart_list') }}">Cart</a></li>
                        <li class="active">Image Upload</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
        BREADCRUMB - END
    =========================== -->
    <section class="content account">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <aside class="sidebar">

                        <!-- WIDGET:CATEGORIES - START -->
                        <div class="widget widget-navigation">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="my-account.html">Upload Your Image</a></li>
                            </ul>
                        </div>
                        <!-- WIDGET:CATEGORIES - END -->
                        {% if session is defined %}
                        {% for cartItems in session %}
                        {% for eachitem in cartItems %}
                        {{ dump(eachitem) }}
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                    </aside>
                </div>
                <div class="col-sm-9">
                    <article class="account-content">
                        <h3>Welcome <span>To The Image Uploader</span></h3>
                        <p>Your Image must meet the below requirements</p>
                        <div class="icon-nav row">
                            <div class="col-xs-6 col-md-3"><a href="address.html"><i>Max File Size</i> 100MB</a></div>
                            <div class="col-xs-6 col-md-3"><a href="orders.html"><i>Display Ratio</i> 19:10</a></div>
                            <div class="col-xs-6 col-md-3"><a href="orders.html"><i>Recommended Pixel Size</i> 1920px by 1080px</a></div>
                            <div class="col-xs-6 col-md-3"><a href="wishlist.html"><i>File Type</i> JPEG, JPG, PNG</a></div>
                        </div>
                        <div id="my-snippet">
                            <input type="file" class="slim"/>
                        </div>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        {{ form_end(form) }}
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/slim.kickstart.js') }}"></script>

{% endblock %}